<div class="xfield">
  <label for="start">Start date:</label>
  <input type="date" id="start" name="customer-dob" x-model="custtomAttributes.dateOfBirth">
</div>
<fieldset>
  <legend>What are you interested in?</legend>
  <input type="radio" id="html" name="fav_language" value="HTML" x-model="custtomAttributes.intrest">
  <label for="html">HTML</label><br>
  <input type="radio" id="css" name="fav_language" value="CSS" x-model="custtomAttributes.intrest">
  <label for="css">CSS</label><br>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript" x-model="custtomAttributes.intrest">
  <label for="javascript">JavaScript</label>
</fieldset>
<fieldset>
  <legend>Would you like to receive updates?</legend>
  <input type="checkbox" id="vehicle1" name="vehicle1" x-model="custtomAttributes.acceptsEmail">
  <label for="vehicle1"> Email</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" x-model="custtomAttributes.acceptsSMS">
  <label for="vehicle2"> SMS</label><br>
</fieldset>
