<div class="bg-white border-gray-200 shadow-sm rounded-lg border">
{% if customer %}
  {% assign wishlist = customer.metafields.fields_raven.wish_list.value %}
  <ul role="list" class="divide-y divide-gray-200"
    x-data='{
      wishlist: {{ wishlist | json }},
      wishlistRemoveItem(handle) {
        let newWishlist = this.wishlist.filter((item) => item.product_handle !== handle)
        console.log("newWishlist: ", newWishlist);
        const ravenObj = {%- render 'raven-mac-gen-2', resource_id: customer.id, raven_id: 'gZ1enP0' -%};
        const valueObj = { value: JSON.stringify(newWishlist) };
        const response = Raven.send(ravenObj, valueObj);
        response.then(res => {
          if (res.status === 200) {
            console.log("🎉", res.json)
            this.wishlist = newWishlist;
          } else {
            console.error("😞", res)
          }
        })
      },
      isPresent(handle) {
        return this.wishlist.map(i => i.product_handle).includes(handle)
      }
    }'
    x-init="console.log('wishlist: ', wishlist)"
  >
  {% for item in wishlist %}
    {% render 'include-wishlist-item', item: item %}
  {% endfor %}
  </ul>
{% else %}
  <p>Please <a href="/account/login">log in</a> to view your wish list, or <a href="/account/register">register</a> to start adding items to a wish list.</p>
{% endif %}
</div>
